body{
    margin: 0;


}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.bgimg{
    width:100%;
    padding-top: 55%;
    background:url(tiger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgimg span{
    color:white;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    background:transparent;
    position:relative;
    padding:10px;
    top:50%;
    left:20%;
}
button{
    top:60%;
    left:20%;
    color:rgb(107, 98, 82);
    width:200px;
    height:50px;
    font-size: 30px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    outline:none;
   
   
}
.bgimg2{
    width:100%;
    padding-top: 55%;
    background:url(lion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgimg2 span{
    color:rgb(221, 76, 76);
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    padding:10px;
    top:30%;
    left:20%;
    position: relative;
}
button{
    top:60%;
    left:20%;
    color:rgb(107, 98, 82);
    width:200px;
    height:50px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    outline:none;
    position:relative;
   
}
.bgimg3{
    width:100%;
    padding-top: 55%;
    background:url("vedio.mp4.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgimg3 span{

color:rgb(158, 79, 79);
font-size: 3vw;
font-family: 'Times New Roman', Times, serif;
text-align: center;
text-transform: uppercase;
background: transparent;
top:50%;
left:20%;
position:relative;
}
button{
    bottom:80%;
    left:40%;
    color:rgb(107, 98, 82);
    width:200px;
    height:50px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    background: wheat;
    border: 2px solid black;
    border-radius: 20px;
    outline:none;
    position: relative;
   
}
